<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updates in <%= context.repo.owner %>/<%= context.repo.repo %></title>
  </head>
  <body>
    <table align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
      <tbody style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <tr height="64px" style="line-height: 64px;font-size: 64px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td height="64px" style="line-height: 64px;font-size: 64px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';"> </td>
        </tr>
        <tr style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
            <img class="logo" src="https://i.ibb.co/JC758vZ/logo-2.png" alt="" width="200px" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';border-radius: 30px;">
          </td>
        </tr>
      </tbody>
    </table>

    <table align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
      <tbody style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <tr height="24px" style="line-height: 24px;font-size: 24px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td height="24px" style="line-height: 24px;font-size: 24px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';"> </td>
        </tr>
      </tbody>
    </table>

    <table align="center">
      <tbody>
        <tr align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <h2 align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';margin: 0;">
            Update in
            <a href="https://github.com/<%= context.repo.owner %>/<%= context.repo.repo %>" style="white-space: nowrap;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';text-decoration: none;color: #000;">
              <img width="24px" src="https://github.githubassets.com/assets/octocat-logo-805b5c3e249f.png" alt="" style="vertical-align: middle;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
              <span class="repo" style="text-decoration: underline;text-underline-offset: 4px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
                <span class="username" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
                  <%= context.repo.owner %>
                </span>
                /
                <span style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
                  <%= context.repo.repo %>
                </span>
              </span>
            </a>
          </h2>
        </tr>
      </tbody>
    </table>

    <table align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
      <tbody style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <tr height="24px" style="line-height: 24px;font-size: 24px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td height="24px" style="line-height: 24px;font-size: 24px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';"> </td>
        </tr>
      </tbody>
    </table>

    <table align="center">
      <tbody>
        <tr style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td>
            <img src="https://avatars.githubusercontent.com/u/48653383?v=4&size=32" alt="" style="border-radius: 100%;margin-right: 8px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          </td>
          <td>
            <p style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';margin: 0;">
              <%= context.payload.head_commit.author.name %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <table align="center">
      <tbody style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <tr height="64px" style="line-height: 64px;font-size: 64px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td height="64px" style="line-height: 64px;font-size: 64px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';"> </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" align="center" style="max-width: 500px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
      <tbody>
        <tr width="100%" style="background-color: #d9d9d9;display: block;padding: 24px 36px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
            <b style="background-color: #8957E5;color: white;border-radius: 500px;padding: 4px 12px !important;margin-right: 8px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'; text-transform: capitalize;"><%= prState %></b>
          </td>
          <td style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
            <p style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';margin: 0;"><%= prTitle %></p>
          </td>
        </tr>
      </tbody>
    </table>

    <table align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
      <tbody style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <tr height="16px" style="line-height: 16px;font-size: 16px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td height="16px" style="line-height: 16px;font-size: 16px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';"> </td>
        </tr>
      </tbody>
    </table>

    <table align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
      <tbody style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <tr style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <a class="flexed-row" href="<%= prLink %>/files" target="_blank" rel="noopener noreferrer" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';text-decoration: none;color: #000;display: flex;flex-direction: row;align-items: center;justify-content: center;">
            <p style="text-decoration: underline;text-underline-offset: 4px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';margin: 0;">View changes</p>
          </a>
        </tr>
      </tbody>
    </table>

    <table align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
      <tbody style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <tr height="64px" style="line-height: 64px;font-size: 64px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td height="64px" style="line-height: 64px;font-size: 64px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';"> </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
      <tbody style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <tr style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
          <td align="center" style="box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
            <p style="text-align: center;max-width: 500px;box-sizing: border-box;font-family: -apple-system,BlinkMacSystemFont,'Inter','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';margin: 0;">This is an automated email notification. Feel free to reply to this email or via Github Comments for any questions.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>